{{ define "main" }}

{{ partial "breadcrumbs.html" . }}
{{ if .Site.Data.homepage.home.enable }}
<!-- home -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.home }}
      <div class="col-lg-10 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p class="lead">{{ .subtitle | markdownify}}</p>
        <div class="section-border"></div>
      </div>
      {{ end }}
    </div>
</section>
<!-- /home -->
{{ end }}

{{ if .Site.Data.homepage.joinospo.enable }}
<!-- service -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ range first 3 .Site.Data.joinospo.services }}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card hover-bg-secondary shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <i
                class="icon-lg icon-box bg-gradient-primary rounded-circle {{ .icon }} mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white {{ .icon }}"></i>
            </div>
            <h4 class="mb-4">{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /service -->

<section class="section bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-4">
        <p class="mt-3 h1">Is OSPO++ For Me?</p>
        <p>If you are part of any of the following categories you are welcome to join our Community. We are a friendly bunch.</p>
        <p>
        <img src="/images/community/who-can-join.png" class="img-fluid">
      </div>
      <div class="row d-flex justify-content-center">
        <a href="/about/contact/" class="btn btn-primary btn-sm">Want to Join? Get in Touch!</a>
    </div>
    </div>
  </div>
</section>
{{ end }}


{{ end }}